<%= form_tag '/login' do %>
<ul class="form">
<li><%= text_field_tag :email, nil, placeholder: 'Email', class: 'field' %></li>
<li><%= password_field_tag :password, nil, placeholder: 'Password', class: 'field' %></li>
<li><%= submit_tag 'Sign In', class: 'submit'%></li>
</ul>
<% end %>