<% if @favorites.empty? == false %>
  <h1>Your Favorite Locations</h1>
  <div class="favorites-container">
    <% @favorites.each do |favorite| %>
      <ul class=favorite>
        <div class="favorite-name">
            <li class="name"><%= link_to favorite.name, results_path(location: favorite.name), class: 'search-link' %></li>
          </div>
          <div class="favorite-icons"
            <li class="edit"><%= link_to 'Edit', class: "link" %></li>
            <li class="delete"><%= link_to 'Delete', class: "link" %></li>
          </div>
      </ul>
    <% end %>
  </div>
<% else %>
  <h2> You haven't added any Favorites, yet. </h2>
  <h3> Please enter a Location.
   </h3>
<% end %>