body {
  font-family: 'Oswald', sans-serif;
  text-align: center;
}

.nav-bar {
  height: 80px;
  background: #333333;
  margin: 0.1em 0.1em 1em 0.1em;
  box-shadow: 1px 1px 1px 1px rgba(20,20,20,0.86);
}

.authentication {
  float: left;
  list-style-type: none;
  display: flex;
  margin-top: 1.5em;
  color: #bfbfbf;
}

.sign {
  font-size: 1.2em;
  margin-top: 0.5em;
  margin-right: 1em;
  color: #bfbfbf;
}

.link {
  color: #bfbfbf;
}

.signed-in-as {
  font-size: 1em;
  margin-top: 0.9em
}

.app-title {
  font-size: 2em;
  margin-right: 1em;
  color: #f2f2f2;
}

.input {
  float: right;
  list-style-type: none;
  display: flex;
  margin-right: 40px;
}

.input-field {
  height: 30px;
  width: 200px;
  border-radius: 1px;
  margin-top: 0.5em;
  text-align: center;
  font-size: 1.5em;
}

.input-field::placeholder {
  margin-top: 1em;
}

.search {
  margin-top: 2em;
  margin-left: 1em;
}

.form {
  list-style-type: none;
  margin-top: 9em;
  margin-right: 2em;
}

.field {
  height: 50px;
  width: 300px;
  border-radius: 5px;
  margin-bottom: 0.5em;
  text-align: left;
  font-size: 1.2em;
}

.submit {
  height: 100px;
  width: 100px;
  margin-top: 1em;
}

.favorites-container {
  width: 60%;
  margin-left: 20%;
  margin-top: 5em;
}

.favorite {
  /* list-style-type: none; */
  /* display: flex; */
  height: 50px;
  border-radius: 5px;
  box-shadow: 3px 3px 3px -1px rgba(51,51,51,0.76);
}

.favorite-name {
  list-style-type: none;
  float: left;
  font-size: 2em;
  color: #333333;
}

.favorite-icons {
  list-style-type: none;
  float: right;
  display: flex;
  margin-right: 2em;
  margin-top: 1em;
}

.edit, 
.delete {
  font-size: 1em;
  margin-left: 0.5em;
}








